node_modules/
node_modules/*
/assets/css/main.css
/assets/fonts/
/assets/fonts/*
/assets/images/metalbook-*
/assets/images/favicon.ico
/assets/images/favicon.svg
/assets/manifest.json
/assets/js/*
!/assets/js/main.js
/vendor
composer.lock
package-lock.json 
.DS_store
._.DS_store
._.*
.idea
*.log
/src/blocks/*/build