$metalbook-brand-colour : #1d70b8 ;
$metalbook-text-colour : #0b0c0c ;
$metalbook-canvas-background-colour : #f3f2f1 ;
$metalbook-body-background-colour : #ffffff ;
$metalbook-print-text-colour : #000000 ;
$metalbook-secondary-text-colour : #505a5f ;
$metalbook-focus-colour : #ffdd00 ;
$metalbook-focus-text-colour : #0b0c0c ;
$metalbook-error-colour : #d4351c ;
$metalbook-success-colour : #00703c ;
$metalbook-border-colour : #b1b4b6 ;
$metalbook-input-border-colour : #0b0c0c ;
$metalbook-hover-colour : #b1b4b6 ;
$metalbook-link-colour : #1d70b8 ;
$metalbook-link-visited-colour : #4c2c92 ;
$metalbook-link-hover-colour : #003078 ;
$metalbook-link-active-colour : #0b0c0c ;
